<footer class="footer">
    <span class="footer__copyright">K &copy; {{date format="YYYY"}}. Proudly published with <a href="http://ghost.org" title="link to Ghost website">Ghost</a> using <a href="https://github.com/khay/kuno" title="Kuno Ghost theme">Kuno</a>.</span>
</footer>